.addetails {
  z-index: 9999;
  .x-button {
    border: 0;
    border-radius: 0;
    background-color: rgb(246, 255, 148);
    font-weight: 100;
    &.x-button-pressing {
      background-color: #F8E766;
      background-image: none;
    }
    .x-button-label {
      font-weight: 100;
    }
  }
  .title {
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    padding: 10px;
    line-height: 1em;
    max-height: 300px;
    overflow: hidden;
  }
  .img {
    width: 100%;
    height: 75px;
    background-position: 50%;
    background-size: contain;
  }
}

ul.cast {
  padding: 3px;
  background-color: #d3d3d3;
  @include st-box;
  @include st-box-orient(horizontal);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  li {
    font-size: .4em;
    font-weight: 300;
    &:before {
      content: ", ";
    }
    &:first-child:before {
      content: ""
    }
  }
}

.content .x-innerhtml {
  text-align: justify;
  padding: 10px;
  font-weight: 300;
  font-size: .8em;
}