.adssearch .x-form {
  min-width: 50%;
  .x-field-search {
    width: 100%;
    input {
      padding-left: 15px
    }
  }
}

.ad .img {
  background-size: contain;
  background-repeat: no-repeat;
  @include border-radius(4px, 4px);
}

.grid .x-list-item {
  display: inline-block;
  width: 50%;
  border: none !important;
  @include perspective(300px);
  body.x-ios &.x-item-pressed {
    .ad {
      @include transform(translateZ(20px));
    }
  }
  .ad {
    @include st-box;
    @include st-box-orient(vertical);
    @include st-box-align(center);
    @include transition-duration(.3s);
    $width: (320/2) - ($list-item-padding);
    $height: $width * (266/180);
    .title {
      white-space: nowrap;
      width: $width;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .75em;
      text-align: center;
      padding-bottom: 5px;
    }
    .img {;
      background-color: black;
      width: $width;
      height: $height;
      background-position: 50%;
      background-size: cover;
    }
  }
}

