@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

$bg-body: "../images/bg.jpg";

$base-color: #7e26ba;
$base-gradient: flat;
$toolbar-base-color: #7e26ba;
$tabs-light: rgb(180, 48, 39);

$font-family: 'Roboto';

//Import Sencha SASS
@import "media-queries";
@import "sencha";

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@include icon("bank");

@import "menu";
@import "welcomeOverlay";
@import "adList";
@import "adDetails";
@import "adForm";

// Hide scrollbar
.x-scroll-bar-y.active {
  width: 0px;
}

// Color for Select field
.x-toolbar .x-field-select .x-input-el {
  color: #565656;
  -webkit-text-fill-color: #565656;
}