@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

$icon-sprite-detail:"../images/spriteD.png";

$base-color: #7e26ba;
$base-gradient: flat;
$toolbar-base-color: #7e26ba;
$tabs-light: rgb(180, 48, 39);
$toolbar-base-color: #f7f7f7;
$page-bg-color: #f7f7f7;

$font-family: 'Roboto';


//Import Sencha SASS
@import "media-queries";
@import "sencha";

//@import 'sencha-touch/base';
//@import 'sencha-touch/base/all';
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@include icon("bank");


@import "menu";
@import "welcomeOverlay";
@import "list";
@import "details";
@import "windows";

@mixin spriteD{
  background: url($icon-sprite-detail) no-repeat;
  background-size: 36px 177px !important;

}
.x-toolbar{@include background-image(linear-gradient(#611c8f, #8327c0));}
.x-title .x-innerhtml{color: #fff; text-shadow: none;}
.vbox-isk{width: 100%; float: left; text-align: left !important;padding: 0px !important;}
.addetails .info{display: block !important;}
.addetails .title{text-align: left !important;}
.addetails .img{padding-bottom: 15px;background-position: 0 !important;box-shadow:none !important;min-height: 150px !important;margin-bottom: 15px;border-bottom: 1px solid #F3f3f3;}
.addetails .x-stretched.x-container{width: 100%; float: left;}
.addetails .x-stretched.x-container>.x-inner {
    margin: 15px;
    color: #a1a1a1;
    background: #fff;
    padding: 3%;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 94%;
    float: left;
}
.addetails .x-button{ @include background-image(linear-gradient(#611c8f, #8327c0));height: 50px;
color: #fff;
font-weight: bold;
font-family: arial, sans-serif;
text-transform: uppercase;}
.addetails .x-button.x-button-pressing{background: #8327c0;}
.fbProfilePic img {
border: 1px solid #fcfcfc;
}

.adDetailPrice{
  @include spriteD;
  background-position:5px 5px;
  font-size: 24px;
  color: #090909;
  padding-left: 50px;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.adDetailPhone{background: #fbfbfb;

a{
  @include spriteD;
  background-position:5px -43px;
  display: block;
  padding: 10px 5px 10px 50px;
  text-decoration: none;
  color: #969696;
}
}
.adDetailDesc{
  
  margin-top: 20px;
  padding: 5px 5px 5px 0px;
  span{
  @include spriteD;
  background-position: 5px -100px;
  width: 50px;
  height: 30px;
  display: block;
  float: left;
  }
}
.addetails .fbProfilePic {
    float: left;
}
.adDetailData {
    font-size: 13px;float: right;
    margin-top: 37px;
}
.x-button-icon.x-shown.list{color: #fff;}
.insertadform {
    .x-toolbar{
        background: none; 
      padding: 0;
      .x-button{
        @include background-image(linear-gradient(#611c8f, #8327c0));height: 50px;
color: #fff;padding: 0px;
margin: 0px;
border-radius: 0;

      .x-button-icon{
        position: absolute;
top: 12px;
left: 20px;
        }  
      }
    }
}
#ext-menu-1{z-index: 1;}
#appLoadingIndicator{z-index: 0}
#ext-viewport{z-index: 2;}
.fieldset1 {
width: 100%;
}
.x-form-fieldset .x-form-fieldset-inner{padding: 15px;}
#fieldset1 {
    padding: 20px;
    .x-field{width: 100%;}
    input, textarea{
        padding: 10px;
        height: auto;
        border: 1px solid #ccc;
        @include border-radius(4px, 4px);
        box-shadow: none !important;
        }
    textarea{
        min-height: 100px;
    }
    .x-field-input{
        padding-right: 0px !important;
    }
    .x-field{border-bottom: none;}
    .x-component-outer{
        border: none !important;
        background-color: #fcfcfc;
        @include border-radius(4px, 4px);
    }
}
.x-toolbar .x-button.x-button-plain.x-button-pressing{background:#8327c0;}

.picture-capture{
    @include background-image(linear-gradient(#611c8f,#7e26ba));
    @include border-radius(3px);
    @include box-shadow(inset 0px 1px 1px #a84be8);
    border:1px solid #000000;
    border-width:1px;
    margin:20px auto;
    min-height:100px;


    img{
        position: relative;
        @include border-radius(3px);
        width: 100%;
        min-height: 100px;
        display:none;
    }

    .icon{
        position: absolute;
        width: 100%;
        height: 100%;
        color:#fff;
        text-align: center;
        font-size: 0.8em;
        i{
            display:block;
            font-size: 3.5em;;
            color:#fff;
            margin-top: 50px;
        }
    }
}

.saveAdForm {
  background: #520a80;
  @include background-image(linear-gradient(#520a80, #41016a));
  color: #fff;
  @include border-radius(4px, 4px !important);
  border: 1px solid #280047 !important;
  -webkit-box-shadow: inset 0 1px 1px 0px #6810A3;
  box-shadow: inset 0 1px 1px 0px #6810A3;
  padding: 8px 0;
  text-shadow: 0 1px 0 #2A0047;
  &.x-button-pressing,
  &.x-button-pressed {
    background: #41016a;
    @include background-image(linear-gradient(#41016a, #520a80));
  }
}

.reset {
  color: #585858 !important;
  background: #e3e3e3 !important;
  border: 1px solid #bbb !important;
  @include border-radius(4px, 4px !important);
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  &.x-button-pressing,
  &.x-button-pressed {
    background: #F2F2F2;
  }
}

.x-toolbar .x-field-select .x-input-el{color: #565656;-webkit-text-fill-color:#565656;}
.x-picker-bar{background: rgba(122, 0, 170, 0.3);border-top: none;border-bottom:none;}
.x-toolbar-dark .x-button{@include background-image(linear-gradient(#AA42F4, #B864EF));border: 1px solid #590A91;}

.icon-camera:before {
font-style: normal;
text-align: center;
font-family: 'Pictos';
content: "v";
}
.x-form-fieldset-title{margin: 0px;}




