@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

$icon-sprite-detail: "../images/spriteD.png";
$bg-body: "../images/bg.jpg";

$base-color: #7e26ba;
$base-gradient: flat;
$toolbar-base-color: #7e26ba;
$tabs-light: rgb(180, 48, 39);

$font-family: 'Roboto';

//Import Sencha SASS
@import "media-queries";
@import "sencha";

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@include icon("bank");

@import "menu";
@import "welcomeOverlay";
@import "list";
@import "details";
@import "adForm";

@mixin spriteD {
  background: url($icon-sprite-detail) no-repeat;
  background-size: 36px 177px !important;
}

.x-layout-card-item {
  background: url($bg-body) !important;
}

.x-toolbar {
  @include background-image(linear-gradient(#611c8f, #8327c0));
}

.x-title .x-innerhtml {
  color: #fff;
  text-shadow: none;
}

.vbox-isk {
  width: 100%;
  float: left;
  text-align: left !important;
  padding: 0px !important;
}

.addetails .info {
  display: block !important;
}

.addetails .title {
  text-align: left !important;
}

.addetails .img {
  padding-bottom: 15px;
  background-position: 0 !important;
  box-shadow: none !important;
  min-height: 230px !important;
  margin-bottom: 15px;

}

.addetails .x-stretched.x-container {
  width: 100%;
  float: left;
}

.addetails .x-stretched.x-container > .x-inner {
  margin: 15px;
  color: #a1a1a1;
  background: #fff;
  padding: 3%;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 94%;
  float: left;
}

.addetails .x-button {
  @include background-image(linear-gradient(#611c8f, #8327c0));
  height: 50px;
  color: #fff;
  font-weight: bold;
  font-family: arial, sans-serif;
  text-transform: uppercase;
}

.addetails .x-button.x-button-pressing {
  background: #8327c0;
}

.fbProfilePic img {
  border: 1px solid #fcfcfc;
}

.adDetailPrice {
  @include spriteD;
  background-position: 5px 5px;
  font-size: 24px;
  color: #090909;
  padding-left: 50px;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.adDetailPhone {
  background: #fbfbfb;
  a {
    @include spriteD;
    background-position: 5px -43px;
    display: block;
    padding: 10px 5px 10px 50px;
    text-decoration: none;
    color: #969696;
  }
}

.adDetailDesc {
  margin-top: 20px;
  padding: 5px 5px 5px 0px;
  span {
    @include spriteD;
    background-position: 5px -100px;
    width: 50px;
    height: 30px;
    display: block;
    float: left;
  }
}

.addetails .fbProfilePic {
  float: left;
}

.adDetailData {
  font-size: 13px;
  float: right;
  margin-top: 37px;
}

.x-button-icon.x-shown.list {
  color: #fff;
}

#ext-menu-1 {
  z-index: 1;
}

#appLoadingIndicator {
  z-index: 0
}

#ext-viewport {
  z-index: 2;
}

.fieldset1 {
  width: 100%;
}

.x-form-fieldset .x-form-fieldset-inner {
  padding: 1px;
}

.x-toolbar .x-button.x-button-plain.x-button-pressing {
  background: #8327c0;
}

.x-toolbar .x-field-select .x-input-el {
  color: #565656;
  -webkit-text-fill-color: #565656;
}

.x-picker-bar {
  background: rgba(122, 0, 170, 0.3);
  border-top: none;
  border-bottom: none;
}

.x-toolbar-dark .x-button {
  @include background-image(linear-gradient(#AA42F4, #B864EF));
  border: 1px solid #590A91;
}

.icon-camera:before {
  font-style: normal;
  text-align: center;
  font-family: 'Pictos';
  content: "v";
}

.x-form-fieldset-title {
  margin: 0px;
}

.buttons-adIn {
  float: left;
  width: 62.5%;
  margin-left: 37%;
}

.priceAdFrom {
  width: 65% !important;
  float: right !important;
}

.currencyAdFrom {
  width: 30% !important;
}

.x-toolbar .x-field-textarea .x-component-outer,
.x-toolbar .x-field-text .x-component-outer, .x-toolbar .x-field-number .x-component-outer,
.x-toolbar .x-field-search .x-component-outer,
.x-toolbar .x-field-select .x-component-outer {
  -moz-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0) !important;
  -webkit-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0) !important;
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0) !important;
}

.x-list, .x-form .x-scroll-container {
  background: none;
}

// Hide scrollbar
.x-scroll-bar-y.active {
  width: 0px;
}

.adDetailPrice > span, .user > span {
  font-size: 11px;
  color: #646464;
}

.hr_ {
  border-bottom: 1px solid #F3f3f3;
  border-top: none;
}

.x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
  padding: 12px 6px !important;
}